<!-- prettier-ignore -->
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} default:"Django Project" {% endblock %}</title>
    {% load static %} {% tailwind_css %}
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
  </head>
  <body>
    <nav>
      <a href="{% url 'home' %}" class="logo">DjangoApp</a>
      <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'Items' %}">Items</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="{% url 'signup' %}">Sign Up</a></li>
        {% endif %}
      </ul>
    </nav>
    {% block content %}{% endblock %}
  </body>
</html>
